#root {
  min-width: 100vw;
  text-align: center;
  max-height: 100vh;
  overflow-x: hidden;
}

.row {
  border: solid 1px gray;
  padding: 2px;
  height: 13vh;
  width: 10vw;
}

.roww {
  border: solid 1px gray;
  padding: 2px;
  height: 15vh;
  width: 10vw;
}
