.wrap {
    display: inline-block;
    top: 0;
    min-width: 100vh;
}

.body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.mergeColumn {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.rows {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}